<ion-content padding class="login-content-registro" *ngIf ="indicarCorreoCambiarContrasena">
  <div>
<!-- 

    <div class="login-logo">
      <img class="logo" width="150" height="150">
    </div>  -->

    <div class="login-credentials">

      <ion-row style="height: 5px"></ion-row>
      <ion-item lines="none">
        <ion-input type="text" name="email" placeholder="Correo electrónico" requiered [(ngModel)]="email"></ion-input>
        <img width="20" height="20" slot="end" src="../../assets/Login/login-usericon-theme2.svg">  
      </ion-item>
      

      <ion-button (click)="EnviarCorreo();" class="login-btn">ENVIAR CORREO
      </ion-button>
      <ion-button (click)="VolverDeEnviarCorreo();" class="login-btn">VOLVER A LOGIN
      </ion-button>
    </div> 
    
  </div>
</ion-content>
