<ion-content padding class="login-content-registro" *ngIf ="indicarCorreoCambiarContrasena">
  <div>
<!-- 

    <div class="login-logo">
      <img class="logo" width="150" height="150">
    </div>  -->
    
    <div class="login-credentials">
      <br><br>
      <ion-row style="height: 5px"></ion-row>
      <ion-item lines="none">
        <ion-input type="text" name="email" placeholder="Correo electrónico" requiered [(ngModel)]="email"></ion-input>
        <img width="20" height="20" slot="end" src="../../assets/Login/login-usericon-theme2.svg">  
      </ion-item>
      
      <br><br>
      <ion-label>¿Quieres recordar la contraseña?</ion-label>
      <ion-button (click)="EnviarCorreo();" class="login-btn2">ENVIAR CONTRASEÑA
      </ion-button>
      <br><br><br><br>
      <ion-label>¿Quieres cambiar la contraseña?</ion-label>
      <ion-button (click)="EnviarCodigo();" class="login-btn2">ENVIAR CÓDIGO
      </ion-button>
      <br><br><br><br>
      <ion-button (click)="VolverInicio();" class="login-btn2">VOLVER A LOGIN
      </ion-button>
    </div> 
    
  </div>
</ion-content>
